<form  (ngSubmit)="getUserFormData(reservation)" #myForm="ngForm">
          <span class="wpcf7-form-control-wrap text-800">
            <input type="text" id="tenmon" name="tenmon" [(ngModel)]="reservation.tenmon" placeholder="Tên món ăn" required>
            <span role="alert" class="wpcf7-not-valid-tip">

            </span>
          </span>
          <br>

          <span class="wpcf7-form-control-wrap tel-364">
            <input type="text" id="gia" name="gia" [(ngModel)]="reservation.gia" placeholder="Gía tiền" required>
            <span role="alert" class="wpcf7-not-valid-tip">

            </span>
          </span>
          <br>

          <span class="wpcf7-form-control-wrap number-992">
            <input type="text" id="loai" name="loai" [(ngModel)]="reservation.loai" placeholder="Loại món ăn " required>
            <span role="alert" class="wpcf7-not-valid-tip">

            </span>
          </span>
          <br>

          <span class="wpcf7-form-control-wrap text-800">
            <input type="text" id="desc" name="desc" [(ngModel)]="reservation.desc" placeholder="Mô tả món ăn" required>
            <span role="alert" class="wpcf7-not-valid-tip">
            </span>
          </span>
          <br>
          <br>
          <input type="submit" value="Thêm món" class="wpcf7-form-control wpcf7-submit">
          <span class="ajax-loader"></span>

        </form>

