<!-- Pills navs -->

<div class="card text-center" style="width: 500px;">
  <div class="card-body px-5">
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
</ul>
<div class="tab-content">
  <form>
    <!-- Name input -->
    <div class="form-outline mb-4">
      <input type="text" id="Name" class="form-control" placeholder="Tên món ăn" />

    </div>

    <!-- Username input -->
    <div class="form-outline mb-4">
      <input type="text" id="price" class="form-control" placeholder="Giá tiền" />
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="loai" class="form-control" placeholder="Loại món ăn" />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="file" id="image" class="form-control" placeholder="Hình ảnh" />
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-3">thêm món ăn </button>
  </form>
</div>
</div>
</div>

<!-- Pills content -->
