
<table>
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên Món</th>
      <th>Giá</th>
      <th>Xóa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="STT">1</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">2</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">3</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">4</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">5</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">6</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">7</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">8</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">9</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">10</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td class="btn btn-danger" >Delete</td> |
    </tr>

    <table>
      <th>Tổng tiền</th>
      <tr>
        <td data-label="total">2000.00</td>
      </tr>
    </table>

    <div>
    <input type="text" id="note" class="form-control" placeholder="Ghi chú" />
  </div>
    <a class="btn btn-danger" href="Cash">Xác nhận đặt món</a>
  </tbody>


</table>
