<body>
  <br>
  <footer>
    <br>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <ul class="footer-links">
          <li><a href="Contact">Đặt bàn</a></li>
          <li><a href="Menu">Thực đơn</a></li>
          <li><a href="Signin">Đăng nhập</a></li>
        </ul>
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
          <a href="Home">Resman</a>.
             </p>
      </div>
  </footer>
</body>
