<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="./header.component.css">
   </head>
   <body>
           <nav class="mb-4 navbar navbar-expand-lg navbar-light pink lighten-4">
            <!-- Navbar brand -->
            <a id="logo" href="Home" class="logo"><img src="./assets/images/logo.jpg" alt=""[style.width]="'60px'" [style.height]="'70px'" style="margin-left: 5px;"></a>
            <a class="navbar-brand font-bold" href="Home" style="margin-left: 10px; margin-top: 15px;">Resman</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <!-- Collapsible content -->

                <ul class="navbar-nav mr-auto">
                </ul>



                <div>
                <div class="navbar-nav mr-auto">

                  <li class="nav-item">
                    <a class="nav-link font-bold" href="Login" style="width: 100px;">Đăng nhập</a>
                </li>

                    <div class="col-md-12 text-right">
                      <div class="cart-icon" >
                        <li><a class="cart" href="Cart"><i class="fa fa-shopping-cart"></i></a></li>
                      </div>
                    </div>
                </div>
              </div>
            <!-- Collapsible content -->
        </nav>
    </body>
</html>
