<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="./header.component.css">
   </head>
   <body>

           <nav class="mb-4 navbar navbar-expand-lg navbar-light pink lighten-4">
            <!-- Navbar brand -->
            <a id="logo" href="Home" class="logo"><img src="./assets/images/logo.jpg" alt=""[style.width]="'60px'" [style.height]="'70px'" style="margin-left: 5px;"></a>
            <a class="navbar-brand font-bold" href="Home" style="margin-left: 10px; margin-top: 15px;">Resman</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link font-bold" href="Menu">Thực đơn</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link font-bold" href="Contact">Đặt bàn</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link font-bold" href="Login">Đăng nhập</a>
                  </li>
                </ul>
                <!-- Links -->
                <!-- Search form -->

            </div>
            <!-- Collapsible content -->
        </nav>
    </body>
</html>
