
<body>
    <div class="container">
        <div class="kanban-heading">
            <strong class="kanban-heading-text">Thông tin đặt bàn</strong>
        </div>
        <div class="kanban-board">
            <div class="kanban-block" id="a">
                <strong>1</strong>

                <div class="name" id="name" >
                    <span>Tên khách hàng: </span>
                </div>
                <div class="phone" id="phone" >
                    <span>SDT: </span>
                </div>
                <div class="mail" id="mail" >
                    <span>Email:</span>
                </div>
                <div class="number" id="number" >
                    <span>Số lượng khách:</span>
                </div>
                <div class="time" id="time" >
                    <span>Thời gian: </span>
                </div>
                <div class="des" id="des" >
                    <span>Yêu cầu:</span>
                </div>
            </div>
            <div class="kanban-block" id="b" >
                <strong>2</strong>

                <div class="name" id="name" >
                    <span>Tên khách hàng: </span>
                </div>
                <div class="phone" id="phone" >
                    <span>SDT: </span>
                </div>
                <div class="mail" id="mail" >
                    <span>Email:</span>
                </div>
                <div class="number" id="number" >
                    <span>Số lượng khách:</span>
                </div>
                <div class="time" id="time" >
                    <span>Thời gian: </span>
                </div>
                <div class="des" id="des" >
                    <span>Yêu cầu:</span>
                </div>
            </div>
            <div class="kanban-block" id="c" >
              <strong>3</strong>

              <div class="name" id="name" >
                  <span>Tên khách hàng: </span>
              </div>
              <div class="phone" id="phone" >
                  <span>SDT: </span>
              </div>
              <div class="mail" id="mail" >
                  <span>Email:</span>
              </div>
              <div class="number" id="number" >
                  <span>Số lượng khách:</span>
              </div>
              <div class="time" id="time" >
                  <span>Thời gian: </span>
              </div>
              <div class="des" id="des" >
                  <span>Yêu cầu:</span>
              </div>
            </div>


        </div>
        <div class="kanban-board">
            <div class="kanban-block" id="a"  style="margin-top: 3%;">
                <strong>4</strong>

                <div class="name" id="name" >
                    <span>Tên khách hàng: </span>
                </div>
                <div class="phone" id="phone" >
                    <span>SDT: </span>
                </div>
                <div class="mail" id="mail" >
                    <span>Email:</span>
                </div>
                <div class="number" id="number" >
                    <span>Số lượng khách:</span>
                </div>
                <div class="time" id="time" >
                    <span>Thời gian: </span>
                </div>
                <div class="des" id="des" >
                    <span>Yêu cầu:</span>
                </div>
            </div>
            <div class="kanban-block" id="b" style="margin-top: 3%;">
                <strong>5</strong>

                <div class="name" id="name" >
                    <span>Tên khách hàng: </span>
                </div>
                <div class="phone" id="phone" >
                    <span>SDT: </span>
                </div>
                <div class="mail" id="mail" >
                    <span>Email:</span>
                </div>
                <div class="number" id="number" >
                    <span>Số lượng khách:</span>
                </div>
                <div class="time" id="time" >
                    <span>Thời gian: </span>
                </div>
                <div class="des" id="des" >
                    <span>Yêu cầu:</span>
                </div>
            </div>
            <div class="kanban-block" id="c"style="margin-top: 3%;">
              <strong>6</strong>

              <div class="name" id="name" >
                  <span>Tên khách hàng: </span>
              </div>
              <div class="phone" id="phone" >
                  <span>SDT: </span>
              </div>
              <div class="mail" id="mail" >
                  <span>Email:</span>
              </div>
              <div class="number" id="number" >
                  <span>Số lượng khách:</span>
              </div>
              <div class="time" id="time" >
                  <span>Thời gian: </span>
              </div>
              <div class="des" id="des" >
                  <span>Yêu cầu:</span>
              </div>
            </div>
        </div>
        <div class="kanban-board">
          <div class="kanban-block" id="a"  style="margin-top: 3%;">
              <strong>7</strong>

              <div class="name" id="name" >
                  <span>Tên khách hàng: </span>
              </div>
              <div class="phone" id="phone" >
                  <span>SDT: </span>
              </div>
              <div class="mail" id="mail" >
                  <span>Email:</span>
              </div>
              <div class="number" id="number" >
                  <span>Số lượng khách:</span>
              </div>
              <div class="time" id="time" >
                  <span>Thời gian: </span>
              </div>
              <div class="des" id="des" >
                  <span>Yêu cầu:</span>
              </div>
          </div>
          <div class="kanban-block" id="b" style="margin-top: 3%;">
              <strong>8</strong>

              <div class="name" id="name" >
                  <span>Tên khách hàng: </span>
              </div>
              <div class="phone" id="phone" >
                  <span>SDT: </span>
              </div>
              <div class="mail" id="mail" >
                  <span>Email:</span>
              </div>
              <div class="number" id="number" >
                  <span>Số lượng khách:</span>
              </div>
              <div class="time" id="time" >
                  <span>Thời gian: </span>
              </div>
              <div class="des" id="des" >
                  <span>Yêu cầu:</span>
              </div>
          </div>
          <div class="kanban-block" id="c"style="margin-top: 3%;">
            <strong>9</strong>

            <div class="name" id="name" >
                <span>Tên khách hàng: </span>
            </div>
            <div class="phone" id="phone" >
                <span>SDT: </span>
            </div>
            <div class="mail" id="mail" >
                <span>Email:</span>
            </div>
            <div class="number" id="number" >
                <span>Số lượng khách:</span>
            </div>
            <div class="time" id="time" >
                <span>Thời gian: </span>
            </div>
            <div class="des" id="des" >
                <span>Yêu cầu:</span>
            </div>
          </div>
      </div>



    </div>
</body>
