<table>
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên Món</th>
      <th>Giá</th>
      <th>Phân loại</th>
      <th>Mô tả</th>
      <th>Sửa và Xóa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="STT">1</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td data-label="Phân loại"></td>
      <td data-label="Mô tả"></td>
      <td class="btn btn-primary" >Edit</td> |
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">2</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td data-label="Phân loại"></td>
      <td data-label="Mô tả"></td>
      <td class="btn btn-primary" >Edit</td> |
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">3</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td data-label="Phân loại"></td>
      <td data-label="Mô tả"></td>
      <td class="btn btn-primary" >Edit</td> |
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">4</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td data-label="Phân loại"></td>
      <td data-label="Mô tả"></td>
      <td class="btn btn-primary" >Edit</td> |
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">5</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td data-label="Phân loại"></td>
      <td data-label="Mô tả"></td>
      <td class="btn btn-primary" >Edit</td> |
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">6</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td data-label="Phân loại"></td>
      <td data-label="Mô tả"></td>
      <td class="btn btn-primary" >Edit</td> |
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">7</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td data-label="Phân loại"></td>
      <td data-label="Mô tả"></td>
      <td class="btn btn-primary" >Edit</td> |
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">8</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td data-label="Phân loại"></td>
      <td data-label="Mô tả"></td>
      <td class="btn btn-primary" >Edit</td> |
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">9</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td data-label="Phân loại"></td>
      <td data-label="Mô tả"></td>
      <td class="btn btn-primary" >Edit</td> |
      <td class="btn btn-danger" >Delete</td> |
    </tr>
    <tr>
      <td data-label="STT">10</td>
      <td data-label="Tên Món">mì xào wasabi</td>
      <td data-label="Giá">20.000đ</td>
      <td data-label="Phân loại"></td>
      <td data-label="Mô tả"></td>
      <td class="btn btn-primary" >Edit</td> |
      <td class="btn btn-danger" >Delete</td> |
    </tr>

    <a class="btn btn-danger" >Thêm Món</a> |
  </tbody>
</table>
