<div class="card text-center" style="width: 500px;">
  <div class="card-header h5 text-white bg-primary">Đặt lại mật khẩu</div>
  <div class="card-body px-5">
      <p class="card-text py-2">
          Điền email đăng ký tài khoản để nhận mã đăng nhập.
      </p>
      <div class="form-outline">
          <input type="email" id="typeEmail" class="form-control my-3" />
          <label class="form-label" for="typeEmail">Email</label>
      </div>
      <a href="Reset" class="btn btn-primary w-100">Đặt lại mật khẩu</a>
      <div class="d-flex justify-content-between mt-4">
          <a class="" href="Login">Đăng nhập</a>
          <a class="" href="Signin">Đăng ký</a>
      </div>
  </div>
</div>
