<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="./app.component.css">
   </head>
   <body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark fixed-top jusitfy-content">
      <div class="container">
        <a id="logo" href="#" class="logo"><img src="./assets/images/logo.jpg" alt=""[style.width]="'50px'" [style.height]="'50px'"></a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <a href="/" class="navbar-brand mr-0">RESMAN</a>
        <button class="navbar-toggler ml-1" type="button" data-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse jusitfy-content-between algin-items-center"
          id="collapsingNavbar2">
          <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item active c">
              <a class="nav-link"href="#"><i class="fas fa-user">Trang chủ</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="Menu"><i class="fas fa-user">Menu</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"href="#"><i class="fas fa-user">Liên hệ </i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"href="About"><i class="fas fa-user">About Us </i></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 search-form">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn-danger my-2 my-sm-0" type="submit"><i class="fas fa-home"></i></button>
          </form>
        </div>
      </div>
    </nav>
    </body>
</html>


<router-outlet></router-outlet>

<!-- <footer id ="footer" class="footer">
  <div class="container">
    <div style="display: flex;">
      <div class="col-md-3" >
        <h3>ABOUT THE STORE</h3>
        <p>Quan trọng hơn số lượng đó chính là cách các cửa hàng được tạo ra.
        <br>RESMAN là thương hiệu ra đời tại Thành phố Hồ Chí Minh, Việt Nam, là thương hiệu thành công trong việc nhượng quyền BBQ Hàn Quốc tại Thành phố Hồ Chí Minh, và là thương hiệu không ngừng lớn mạnh bất chấp trong đại dịch COVID-19.</p>
      </div>
    <div class="col-md-3">
      <div style="flex-grow: 1;">
      <h3>ABOUT US</h3>
      <p>Tại RESMAN, tất cả các quy trình từ thiết kế cửa hàng, đào tạo nhân viên, chuẩn bị món ăn đều là thủ công nên tất cả các khách hàng đều có thể nhận được dịch vụ như nhau tại tất cả các chi nhánh của RESMAN.
      </p>
    </div>
  </div>
    <div class="col-md-3 ">
      <h3>ABOUT FUTURE</h3>
      <p>RESMAN là một thương hiệu Hàn Quốc đang phát triển nhanh chóng, nắm bắt được hương vị món ăn, vẻ đẹp của từng không gian và luôn hướng đến tương lai chứ không vì lợi ích nhất thời mà đánh mất quy chuẩn đạo đức.</p>
    </div>
    <div class="col-md-3">
      <h3>HIGH QUALITY,LOW PRICE</h3>
      <p>HIGH QUALITY, LOW PRICE được tạo ra
        bởi RESMAN…
        <br>Không chỉ đơn giản là ăn thịt bình thường để no bụng.
        Các bạn có thể thưởng thức thịt chất lượng cao đi
        kèm với giá cả hợp lý.</p>
    </div>
  </div>
</div>

</footer> -->
